In [1]:
import pandas as pd
import os

# 讀取原始CSV文件
data = pd.read_csv('用戶1~3.csv',encoding='ANSI')
data

       fcustomerid county       Date  Year  Month Week  Hour Holiday    KWH_A
0                1    台北市  109/08/24  2020      8    一    11       N  0.69747
1                1    台北市  109/08/24  2020      8    一    12       N  0.47235
2                1    台北市  109/08/24  2020      8    一    13       N  0.49665
3                1    台北市  109/08/24  2020      8    一    14       N  0.48068
4                1    台北市  109/08/24  2020      8    一    15       N  0.49485
...            ...    ...        ...   ...    ...  ...   ...     ...      ...
72935            3    台北市  113/01/14  2024      1    日    19       Y  0.14138
72936            3    台北市  113/01/14  2024      1    日    20       Y  0.16835
72937            3    台北市  113/01/14  2024      1    日    21       Y  0.16075
72938            3    台北市  113/01/14  2024      1    日    22       Y  0.14850
72939            3    台北市  113/01/14  2024      1    日    23       Y  0.18255

[72940 rows x 9 columns]

In [ ]:
# 根據fcustomerid列對數據進行分組
grouped = data.groupby('fcustomerid')

os.makedirs('2_groupby',exist_ok=True)
# 對每個分組應用函數,將數據寫入新的CSV文件
for name, group in grouped:
    group.to_csv(f'2_groupby/output_{name}.csv', index=False,encoding='ANSI')